name: Slither Analysis
on: [push]

permissions:
  contents: read
  security-events: write  # Required for uploading SARIF

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Run Slither
        uses: crytic/slither-action@v0.4.2
        id: slither
        with:
          fail-on: high  # Fail on high severity issues
          slither-args: '--filter-paths "lib/|src/archive"'
          
      # Temporarily disable SARIF upload
      # - name: Upload SARIF file
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: ${{ steps.slither.outputs.sarif }}
      - name: Create/update checklist as PR comment
        uses: actions/github-script@v7
        if: github.event_name == 'pull_request'
        env:
          REPORT: ${{ steps.slither.outputs.stdout }}
        with:
          script: |
            const script = require('.github/scripts/comment')
            const header = '# Slither report'
            const body = process.env.REPORT
            await script({ github, context, header, body })
